$ubuntu: 'Ubuntu', sans-serif;
$quickSand: 'Quicksand', sans-serif;
$paddingBtn: 18px 48px;;
$radiuBtn:35px;
$fontSizeBtn: 13px;
$gradientGreen: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);;

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
